/* REST */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
html {
  font-size: 62.5%; /*10px*/
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* VARIABLE */
:root {
  /* font-family */
  --font-family: "Roboto", sans-serif;
}

/* TYPO */

body {
  margin: 0;
  font-family: var(--font-family);
}
