.notFoundContainer {
  margin-left: 117px;
  height: 100%;
}
.notFound {
  &__main {
    margin: 13rem 5rem 0 5rem;
  }

  &__header {
    &Name {
      font-size: 4.8rem;
    }
  }
}

.userInfo {
  display: flex;
  justify-content: center;
}
